# Biodiversity in National Parks - Data Analysis
### Analysis Overview
In this analysis, we will be analyzing data from two datasets containing information on National Parks and the species who inhabit them.

The datasets are:

- ```"observations.csv"``` - includes data on the national park being observed, what species live their, and how many times each species has been recorded being spotted within the last 7 days.
- ```"species_info.csv"``` - includes data on a large number of different species.  It features the species' scientific name, common name, category of species, and conservation status.

---

## Section 1 - Understanding the Data
In order to work with any data, you first need to understand what you'll be working with.  

1. Import the Python libraries you'll need to conduct your analysis 
2. Load the two CSV datasets into two seperate Pandas DataFrames, ```parks``` and ```species```
3. View the first 10 rows of the ```parks``` dataframe
4. View the first 10 rows of the ```species``` dataframe

In [259]:
# 1

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [260]:
# 2

parks = pd.read_csv('observations.csv')
species = pd.read_csv('species_info.csv')

In [261]:
# 3 

parks.head(10)

,scientific_name,park_name,observations
0,Vicia benghalensis,Great Smoky Mountains National Park,68
1,Neovison vison,Great Smoky Mountains National Park,77
2,Prunus subcordata,Yosemite National Park,138
3,Abutilon theophrasti,Bryce National Park,84
4,Githopsis specularioides,Great Smoky Mountains National Park,85
5,Elymus virginicus var. virginicus,Yosemite National Park,112
6,Spizella pusilla,Yellowstone National Park,228
7,Elymus multisetus,Great Smoky Mountains National Park,39
8,Lysimachia quadrifolia,Yosemite National Park,168
9,Diphyscium cumberlandianum,Yellowstone National Park,250

In [262]:
# 4

species.head(10)

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN
5,Mammal,Odocoileus virginianus,White-Tailed Deer,NaN
6,Mammal,Sus scrofa,"Feral Hog, Wild Pig",NaN
7,Mammal,Canis latrans,Coyote,Species of Concern
8,Mammal,Canis lupus,Gray Wolf,Endangered
9,Mammal,Canis rufus,Red Wolf,Endangered

The first thing that stands out to me is in the ```species``` dataframe.  Without looking any deeper you can already see that it contains some missing values ('NaN').  In order to accurately work with this data, you'll need to clean up your dataframes.  Aside from that one column in the ```species``` dataframe, you aren't sure which columns may have missing data in either of the two dataframes, so you'll need to do some work to find out.

Let's focus on looking at your ```parks``` dataframe first!

5. Check to see if the ```parks``` dataframe contains any missing values.  Check column names and data types as well
6. Take a look at the summary statistics
7. find out how many species observations there are for each National Park

In [263]:
# 5

parks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23296 entries, 0 to 23295
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   scientific_name  23296 non-null  object
 1   park_name        23296 non-null  object
 2   observations     23296 non-null  int64
dtypes: int64(1), object(2)
memory usage: 546.1+ KB

In [264]:
# 6

parks.describe(include='all')

         scientific_name                            park_name  observations
count              23296                                23296  23296.000000
unique              5541                                    4           NaN
top     Myotis lucifugus  Great Smoky Mountains National Park           NaN
freq                  12                                 5824           NaN
mean                 NaN                                  NaN    142.287904
std                  NaN                                  NaN     69.890532
min                  NaN                                  NaN      9.000000
25%                  NaN                                  NaN     86.000000
50%                  NaN                                  NaN    124.000000
75%                  NaN                                  NaN    195.000000
max                  NaN                                  NaN    321.000000

In [265]:
# 7

parks.park_name.value_counts()

Great Smoky Mountains National Park    5824
Yosemite National Park                 5824
Bryce National Park                    5824
Yellowstone National Park              5824
Name: park_name, dtype: int64

You can see that the length of the dataframe is 23,296 rows long and that it has 3 columns, each with 0 missing values.  The column names are clean and easy to work with and you can also see the data types of each column make sense.

Looking at the output from code block #6, you can see that there are a lot of unique species within the dataframe (5541), but only 4 diferent National Parks.    

Since there isn't a lot of unique values, you can easily use ```.value_counts()``` on the dataframe to show that there is 5824 observations of species in each National Park.  

Though our data looks seemingly nice and tidy, we could further inspect the ```scientific_name``` column to see if there are any strange values that are hidden within the column that could effect the analysis.  An example of a strange value could be an empty string ("") or a string that says ```"NULL"``` or ```"NaN"```.  These would technically count as values but they should instead be classified as a missing value.

8. Pull some random samples of the ```scientific_name``` column, look over the values, and check to see if there are any entries that don't belong

In [266]:
# 8

for num in range(10):
    print(f'Sample {num + 1}')
    parks_sample = parks.scientific_name.sample(25)
    print(parks_sample)
    print()

Sample 1
21010                Sphyrapicus nuchalis
12083                 Castilleja cusickii
15122                     Smilax herbacea
11836               Populus grandidentata
13316           Forsstroemia trichomitria
2959                Sphenopholis obtusata
18299           Thryomanes bewickii altus
15976                  Ludwigia decurrens
5864                          Xyris torta
10511                  Smilax biltmoreana
11313             Ranunculus occidentalis
20650                     Trillium simile
13337                   Scleria oligantha
16677              Cephalozia lunulifolia
10046    Oxytropis deflexa var. foliolosa
1301                   Collomia tinctoria
14186                       Arabis lyrata
7985                      Camelina sativa
5371                       Carex capitata
21646             Allophyllum divaricatum
19330                         Canis lupus
3840                    Picoides villosus
15996               Platanus occidentalis
17128                Ranunculus uncinatus
20556             Semotilus atromaculatus
Name: scientific_name, dtype: object

Sample 2
3314                      Solidago gigantea
22395       Camissonia sierrae ssp. sierrae
20580                          Lilium grayi
1581                          Taxidea taxus
16180    Ageratina altissima var. roanensis
14066                Centrosema virginianum
2843                  Shepherdia canadensis
1823                             Anas acuta
16016        Rudbeckia fulgida var. fulgida
7348               Loeskeobryum brevirostre
536                         Rosa eglanteria
4762                     Geranium maculatum
8459                 Lithophragma bolanderi
18819                      Lespedeza repens
15377            Lithophragma heterophyllum
5225                    Grindelia squarrosa
6849                    Sylvilagus obscurus
12974                   Botrychium jenmanii
1681                 Utricularia intermedia
5443       Rudbeckia hirta var. pulcherrima
17497                   Anthriscus caucalis
20041                 Lasthenia platycarpha
20324                   Setophaga americana
8915                  Antennaria parvifolia
6454                       Smilax tamnoides
Name: scientific_name, dtype: object

Sample 3
18282                       Aconitum uncinatum
8643       Clarkia purpurea ssp. quadrivulnera
14061                        Glyceria borealis
21232                         Lepomis gibbosus
16443                          Logfia arvensis
17540                            Gaura biennis
16472                          Lobelia inflata
23160      Aster occidentalis var. yosemitanus
119                         Osmorhiza berteroi
1498                    Amaranthus retroflexus
22872                       Strix occidentalis
22130                       Setophaga dominica
16377    Pseudognaphalium helleri ssp. helleri
17009                   Amphicarpaea bracteata
12597                           Betula pendula
19031                     Carpinus caroliniana
11395                         Myotis lucifugus
16281                     Calidris fuscicollis
2127                   Pogonia ophioglossoides
19690             Pueraria montana var. lobata
10973                    Valeriana californica
18647            Phacelia humilis var. humilis
21426               Viola sagittata var. ovata
12065                Arnica parryi ssp. sonnei
21537                        Polygala polygama
Name: scientific_name, dtype: object

Sample 4
13941                     Valerianella radiata
503                         Eupatorium rugosum
16884                         Senecio jacobaea
17942                           Lolium perenne
6659              Rhododendron periclymenoides
10473                     Monolepis spathulata
14822                      Thalictrum fendleri
21720                     Napaeozapus insignis
4596                         Rattus norvegicus
23028                      Hemizonia kelloggii
7689                        Koeleria macrantha
20125                           Anomodon minor
2218      Astragalus lentiginosus var. ineptus
16995                    Lysimachia lanceolata
6359                     Chamaebatia foliolosa
23043                        Zigadenus elegans
4547                        Cymopterus nivalis
14579    Eleocharis acicularis var. acicularis
18968                         Rissa tridactyla
5160                    Muhlenbergia schreberi
20359                      Euphorbia crenulata
11249                          Soliva sessilis
3873                  Thryothorus ludovicianus
12479                       Hypochaeris glabra
13671                              Carex rosea
Name: scientific_name, dtype: object

Sample 5
9904                    Anthus rubescens
17724          Lampropeltis getula nigra
13135                 Oenothera speciosa
21420                  Eurycea junaluska
5895                     Bonasa umbellus
14298                     Iris laevigata
4773                  Polygonum achoreum
4614     Luzula acuminata var. carolinae
14303                  Leersia virginica
9329                     Hypoxis hirsuta
1466                       Bryum pallens
11953                    Tamias merriami
7623           Symphyotrichum urophyllum
12641              Aegopodium podagraria
2678                          Carex feta
18477             Cyperus lancastriensis
14562      Equisetum hyemale ssp. affine
10138         Crotalus oreganus oreganus
22820                    Rosa eglanteria
10790            Tradescantia virginiana
17705            Ovis canadensis sierrae
4499               Vaccinium parvifolium
3244                     Carex virescens
2414                   Calcarius ornatus
6595                 Thalictrum clavatum
Name: scientific_name, dtype: object

Sample 6
2965                              Trisetum spicatum
7210                               Bromus secalinus
19331                               Rubus trivialis
21604                        Arenaria serpyllifolia
13313                          Carpodacus mexicanus
7342                                 Cardaria draba
9135                                 Phoxinus oreas
15205                            Baeolophus bicolor
9105                           Desmognathus wrighti
1715                               Ricinus communis
17489                           Verbena urticifolia
17468         Streptanthus tortuosus var. tortuosus
13605                                        Juncus
16085                                Plantago major
22264    Pentagramma triangularis ssp. triangularis
1440                         Arenaria serpyllifolia
19894                     Pseudostellaria jamesiana
2119      Symphyotrichum lanceolatum var. hesperium
12221                               Typha latifolia
10136                             Aira caryophyllea
12011                            Synandra hispidula
1599                                Melanitta fusca
16203                                  Corvus corax
7649                             Lysimachia ciliata
18287                             Picoides villosus
Name: scientific_name, dtype: object

Sample 7
16575                     Chimaphila umbellata
16849                    Raphanus raphanistrum
3636                         Equisetum arvense
16105                      Oxydendrum arboreum
4415                        Oclemena acuminata
2314                        Sarcodes sanguinea
17340                     Gaillardia pulchella
21801                  Narthecium californicum
17862                         Fulica americana
7864                       Festuca minutiflora
1438     Eriophyllum lanatum var. grandiflorum
6815               Blepharostoma trichophyllum
5925              Hepatica nobilis var. obtusa
21167                      Bombycilla garrulus
20384                     Desmognathus conanti
5323                        Anagallis arvensis
12621                   Sphagnum capillifolium
22012                        Sagina saginoides
18051                           Pavo cristatus
16130                     Zygodon viridissimus
8582                        Eragrostis hirsuta
10174                           Phlox subulata
811                       Hieracium albiflorum
9673                      Pycnanthemum incanum
595                        Cardamine angustata
Name: scientific_name, dtype: object

Sample 8
20345                      Eupatorium album
1916                      Scirpus congdonii
23258                  Microtus longicaudus
9825                  Myotis austroriparius
18060      Houstonia purpurea var. purpurea
14409    Lepidium virginicum var. pubescens
686              Toxicodendron diversilobum
10056                       Carex atherodes
8179                       Alectoris chukar
5346                        Viola palustris
16594                  Lespedeza procumbens
7571               Poa cusickii ssp. epilis
8703       Agoseris glauca var. dasycephala
10423                        Mahonia repens
13894                           Salix nigra
159                       Carduelis tristis
19614                   Minuartia nuttallii
7455                       Actaea pachypoda
17393                   Vermivora lawrencei
12521                        Aesculus pavia
7613                      Minuartia rubella
20882                     Seiurus motacilla
15795                   Zonotrichia querula
388                    Holosteum umbellatum
27                        Scirpus cyperinus
Name: scientific_name, dtype: object

Sample 9
22650                 Sphenosciadium capitellatum
14202                    Pterostegia drymarioides
21229                         Fragaria virginiana
11880                           Lotus humistratus
19408                      Muhlenbergia sylvatica
22390                         Verbena urticifolia
21853                    Trichophorum caespitosus
14907         Nicotiana acuminata var. multiflora
14864                       Muhlenbergia frondosa
13132    Chaenactis glabriuscula var. megacephala
2358             Heterotheca villosa var. villosa
22162                              Allium validum
7508                      Gymnogyps californianus
5753                   Silene latifolia ssp. alba
12686                             Anser albifrons
9580                            Couesius plumbeus
11493                           Crepis capillaris
8773       Eriogonum spergulinum var. spergulinum
625                                     Tyto alba
19908                         Muhlenbergia rigens
3598                          Clarkia unguiculata
10740                          Fissidens bryoides
21598                              Carex subfusca
4678                        Brachyelytrum erectum
14942                       Streptopelia decaocto
Name: scientific_name, dtype: object

Sample 10
8120                                     Avena fatua
6785     Erechtites hieraciifolia var. hieraciifolia
7565                             Potentilla anserina
21165                         Apometzgeria pubescens
20327                      Arceuthobium californicum
3820                                 Darmera peltata
12542                                  Asio flammeus
3635                                 Pinus ponderosa
162                             Lespedeza procumbens
14061                              Glyceria borealis
4914                          Etheostoma blennioides
15837                                 Setaria faberi
18262                     Coccothraustes vespertinus
17525               Grindelia camporum var. camporum
4366                               Luzula multiflora
10077                     Dichanthelium clandestinum
3914                               Selasphorus rufus
15671                            Senecio scorzonella
20432                                  Salix humilis
1276                  Oncorhynchus mykiss aguabonita
21142                          Sisyrinchium montanum
14004                          Potentilla canadensis
321                                  Juncus uncialis
18710                              Linanthus filipes
18616                         Hypericum anagalloides
Name: scientific_name, dtype: object

According to the samples, the data is good to go!

Time to check out the ```species``` dataframe!

9. Check to see if the ```species``` dataframe contains any missing values.  Check column names and data types as well
10. Take a look at the summary statistics
11. Find out how many species there are within each ```category```
12. Find out how many species there are within each ```conservation_status```
13. Find out the number of ```NaN``` values in the ```conservation_status``` column, and the percentage

In [267]:
# 9 

species.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5824 entries, 0 to 5823
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   category             5824 non-null   object
 1   scientific_name      5824 non-null   object
 2   common_names         5824 non-null   object
 3   conservation_status  191 non-null    object
dtypes: object(4)
memory usage: 182.1+ KB

In [268]:
# 10

species.describe(include='all')

,category,scientific_name,common_names,conservation_status
count,5824,5824,5824,191
unique,7,5541,5504,4
top,Vascular Plant,Castor canadensis,Brachythecium Moss,Species of Concern
freq,4470,3,7,161

In [269]:
# 11

species.category.value_counts()

Vascular Plant       4470
Bird                  521
Nonvascular Plant     333
Mammal                214
Fish                  127
Amphibian              80
Reptile                79
Name: category, dtype: int64

In [270]:
# 12

species.conservation_status.value_counts()

Species of Concern    161
Endangered             16
Threatened             10
In Recovery             4
Name: conservation_status, dtype: int64

In [271]:
# 13

nan_count = len(species[species.conservation_status.isnull() == True])
nan_percent = (len(species[species.conservation_status.isnull() == True]) / len(species)) * 100

print(f'NaN values in \'conservation_status\' column: {nan_count} out of {len(species)}')
print(f'Percentage of NaN values in \'conservation_status\' column: {round(nan_percent, 2)}%')

NaN values in 'conservation_status' column: 5633 out of 5824
Percentage of NaN values in 'conservation_status' column: 96.72%

Going through the summary statistics gives us plenty of insight into the data.  The ```conservation_status``` column is clearly missing a massive chunk of data,
96.72% actually.  But why is this data missing?  If you take a look at the unique values within the column, you can see that there are only 4 values, and all of them are associated with endangerment to some degree (output of code block #12).  With this knowledge, we can assume that the ```NaN``` values just mean that the species is not at risk of endangerment.  The values seem to be missing for a reason.

With this assumption, you can go ahead and fill the missing values with a value that signifies "no risk".

14. Fill in the ```NaN``` values in the ```conservation_status``` column with the string value ```"Not at risk"```

In [272]:
# 14

species.conservation_status.fillna('Not at Risk', inplace=True)
species.conservation_status.value_counts()

Not at Risk           5633
Species of Concern     161
Endangered              16
Threatened              10
In Recovery              4
Name: conservation_status, dtype: int64

After doing this, it wouldn't hurt to check the scientific name column for any duplicate values.  If you refer back to code block #10, you can see that the column does have some repeating values.  This should be looked into.

15. Figure out how many values are duplicates within the ```scientific_name``` column
16. Find out how many duplicate rows exist within the ```species``` dataframe, if any

In [273]:
# 15

dup = species.scientific_name.duplicated().sum()
print(f'Duplicated values in \'scientific_name\' column: {dup}')

Duplicated values in 'scientific_name' column: 283

In [274]:
# 16 

dup = species.duplicated().sum()
print(f'Duplicated rows in \'species\' dataframe: {dup}')

Duplicated rows in 'species' dataframe: 0

So there aren't any duplicate rows within the ```species``` dataframe, but there are 283 duplicates within the ```scientific_name``` column of the ```species``` dataframe.  This may be due to the fact that more than one person recorded the same species and they recorded different numbers observed in the ```observations``` column.  Let's find out.

17. Experiment with the ```species``` dataframe and determine if these duplicate values should be dropped of not

In [275]:
# 17

species[species.scientific_name.duplicated()].head()

,category,scientific_name,common_names,conservation_status
3017,Mammal,Cervus elaphus,Rocky Mountain Elk,Not at Risk
3019,Mammal,Odocoileus virginianus,"White-Tailed Deer, White-Tailed Deer",Not at Risk
3020,Mammal,Canis lupus,"Gray Wolf, Wolf",In Recovery
3022,Mammal,Puma concolor,"Cougar, Mountain Lion, Puma",Not at Risk
3025,Mammal,Lutra canadensis,River Otter,Not at Risk

In [276]:
# 17 (Cont.)

species[species.scientific_name == 'Canis lupus']

     category scientific_name     common_names conservation_status
8      Mammal     Canis lupus        Gray Wolf          Endangered
3020   Mammal     Canis lupus  Gray Wolf, Wolf         In Recovery
4448   Mammal     Canis lupus  Gray Wolf, Wolf          Endangered

This doesn't seem right.  This is the same mammal, recorded 3 times, and once with a different conservation status.  The only sensible explanation for the repeated entries could be due to a possible change in conservation status.  If that is the case, then we can rest knowing it was recorded for a reason.

In [277]:
# 17 (Cont.)

species[species.scientific_name == 'Cervus elaphus']

     category scientific_name        common_names conservation_status
4      Mammal  Cervus elaphus       Wapiti Or Elk         Not at Risk
3017   Mammal  Cervus elaphus  Rocky Mountain Elk         Not at Risk

In [278]:
# 17 (Cont.)

species[species.scientific_name == 'Puma concolor']

     category scientific_name                 common_names conservation_status
16     Mammal   Puma concolor      Panther (Mountain Lion)         Not at Risk
3022   Mammal   Puma concolor  Cougar, Mountain Lion, Puma         Not at Risk
4451   Mammal   Puma concolor                Mountain Lion         Not at Risk

Ok, no rest for us, but you can conclude that a changing conservation status is NOT the reason for the duplicate values, and this is comforting, sort of.  It is safe to assume that the duplicates within the dataframe were recorded by different people who each had slightly different common names for the species.  To accurately plot any data, you'll need to drop the duplicates since they will do nothing for you but scew your results ever so slightly.

18. Drop duplicates in the ```scientific_name``` column of the ```species``` dataframe

In [287]:
species.drop_duplicates(subset=['scientific_name'], inplace=True)
print(species.scientific_name.duplicated().sum())
print(len(species))
print(species.scientific_name.nunique())

0
5541
5541

18. Find out how many duplicate rows exist within the ```parks``` dataframe, if any
19. Experiment with the ```parks``` dataframe and determine if these duplicate values should be dropped of not

In [280]:
# 18

parks.duplicated().sum()

15

In [281]:
# 19

# Appendix
### Section 1
1. Python library imports:
* Numpy - Used for fast calculations within pandas.  Can perform matrix calculations.
* Pandas - Used for loading in datasets into workable dataframes.  Crucial for Data Analysis with Python.
* Matplotlib - Used for creating plots and visualizations from pandas dataframes.
* Seaborn - Newer, more intuitive visualization library built to work with Matplotlib and pandas.
* Statsmodels - Used for creating predictive models.

2. Use the ```.read_csv()``` method along with ```pd``` (pandas) to import a csv file into a pandas dataframe.  The method takes the CSV filename surrounded by quotations as a parameter (Example: parks = pd.read_csv("observations.csv"))

3. Use the ```.head()``` method from the ```pandas``` library on the ```parks``` dataframe to show the first 10 rows of the dataframe

4. Use the ```.head()``` method from the ```pandas``` library on the ```species``` dataframe to show the first 10 rows of the dataframe

5. Use the ```.info()``` method from the ```pandas``` library on the ```parks``` dataframe to show column names, data types of the columns, length of the dataframe, and possible missing values within the dataframe.  This shows that the length of the dataframe is 23,296 rows long and that it has 3 columns, each with 0 missing values.  We can see that the column names are clean and easy to work with and we can also see the data types of each column, which are workable for now.

6. Use the ```.decribe()``` method from the ```pandas``` library on the ```parks``` dataframe to show some summary statistics about each column.  In order to see summary statistics for categorical variables, you need to use the ```include=``` parameter and set its value to ```'all'```.  This shows the amount of unique values for the categorical variables (```scientific_name``` and ```park_name```), and some useful statistics about the quantitative variable (```observations```).  The average number of times a single species was observed in 7 days was 142 times.  The minimum times observed was 9 times and the maximum was 321 times.  This is useful primarily because now you know that the ```observations``` column doesn't contain any zero values in it.  This means you can move on to exploring a different variable within the data.

7. Use the ```.value_counts()``` method from the ```pandas``` library on the ```parks.park_name``` dataframe column to show the frequency of the unique values within the column.  You can see that each of the 4 National Parks contain an equal amount of entries.  This information also shows that the 4 unique values within this column are in fact National Parks.

8. Create a ```for``` loop that loops 10 times.  With every loop print a string of the sample number.  With every loop you'll pull a random sample of the ```parks.scientific_name``` column using the pandas ```.sample()``` method.  The method will take an integer as a parameter which specifies the size of the random sample.  The larger the sample, the better.  After the samples are pulled, the samples should be examined for any values that are not scientific names.  If you pull enough samples of a decent size, then this can accurately portray the dataset as a whole.  This is much more efficient than reading through all 5541 unique scientific names.